@import '@/styles/variables';
@import '@/styles/mixins';

.articles-grid {
  padding-top: 50rem;
}
.articles-grid__list {
  @include list-reset;
  display: grid;
  column-gap: 55rem;
  row-gap: 50rem;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 100rem;
}



@media (max-width: $desktop) {
  .articles-grid__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16rem;
    padding-bottom: 80rem;
  }
}

@media (max-width: $tablet) {
  .articles-grid {
    padding-top: 30rem;
  }
  .articles-grid__list {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 37rem;
  }
}
