@import '@/styles/variables';
@import '@/styles/mixins';

.pagination__links {
  display: flex;
  a,
  span {
    width: 50rem;
    height: 50rem;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    font-size: 18rem;
    line-height: 22rem;
    color: rgba(#000, 0.2);
    transition: color 0.2s ease;
    &.active {
      color: $white;
      background-image: url(/img/arrow-active.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  a:hover {
    color: #000;
  }
}
.pagination__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__btn-navigation {
  font-size: 0;
  width: 64rem;
  height: 64rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &--next {
    svg {
      transform: rotate(180deg);
    }
  }
  &--disable {
    path {
      stroke: rgba(#000, 0.2);
    }
  }
}
