@import '@/styles/variables';
@import '@/styles/mixins';

.information {
  background-color: $beige;
  padding-top: 120rem;
}
.information__wrapper {
  position: relative;
}
.information__tab {
  @include btn-reset;
  font-weight: 500;
  font-size: 40rem;
  color: $black-text;
  line-height: 48rem;
  text-transform: uppercase;
  opacity: 0.17;
  transition: opacity 0.2s ease;
  padding-left: 54rem;
  &--active {
    color: $black-text;
    opacity: 1;
  }
  &:focus,
  &:hover {
    opacity: 1;
  }
}
.information__tab-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding-bottom: 152rem;
}
.information__description {
  font-weight: 400;
  font-size: 22rem;
  line-height: 26rem;
  margin-top: 0;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 462rem;
}
.information__tab-bullet {
  width: 38rem;
  height: 38rem;
  background-image: url(/img/bullet.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 6rem;
  transition: top 0.3s ease;
}

.information__list-symptoms {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: content;
  padding-bottom: 180rem;
}

.information__symptom-item {
  position: relative;
  z-index: 2;
  &:hover {
    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &::after {
    content: "";
    position: absolute;
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 484rem;
    height: 484rem;
    transform: translate(-50%, -50%) scale(0);
    background-image: url(/img/decor-hover-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 0;
    transition: transform 0.6s ease;
  }
  max-width: 266rem;
  &--image {
    max-width: 300rem;
    z-index: 3;
  }
  &--itching {
    &::before {
      // border-radius: 50%;
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 108%;
      height: 108%;
      transform: translate(-50%, -50%);
      background-image: url(/img/elipse.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: 0;
    }
  }
  &--smear {
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url(/img/smear.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 140rem;
      height: 150rem;
      right: -30rem;
      bottom: -30rem;
      z-index: 4;
    }
  }
}

.information__symptom-image {
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  height: 300rem;
  max-width: 300rem;
  width: 300rem;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.information__symptom-head {
  font-weight: 500;
  font-size: 40rem;
  line-height: 48rem;
  text-transform: uppercase;
  margin-bottom: 8rem;
}
.information__symptom-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 266rem;
  width: 266rem;
  justify-content: center;
  border: 1rem solid $black-text;
  border-radius: 50%;
  position: relative;
  z-index: 3;
}

.information__symptom-text {
  padding-left: 28rem;
  padding-right: 28rem;
}
[data-tab-content].hidden {
  display: none;
}
:root {
  --time-anamate: 200ms;
}
[data-animate-tab] {
  opacity: 0;
  transform: translateX(-30rem);
  transition: transform var(--time-anamate) ease,
    opacity var(--time-anamate) ease;
  &.information__description {
    transform: translateY(30rem);
    &.active {
      transform: translateY(0rem);
    }
  }
}

[data-animate-tab].active {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: $desktop) {
  .information {
    padding-top: 80rem;
  }
  .information__description {
    position: static;
    max-width: 100%;
    margin-bottom: 51rem;
    font-weight: 400;
    font-size: 22rem;
    padding-left: 53rem;
    line-height: 26rem;
  }
  .information__tab-list {
    padding-bottom: 65rem;
  }
  .information__symptom-item {
    margin-right: 0;
    flex-basis: 33.4%;
    margin-bottom: 39rem;
    &::after {
      width: 407rem;
      height: 407rem;
    }
    &--image {
      width: 225rem;
    }
    &:nth-child(3n + 3) {
      margin-left: auto;
    }
    &--itching {
      &::before {
        left: 52.3%;
        width: 106%;
        height: 106%;
      }
    }
    &--smear::before {
      width: 101rem;
      height: 138rem;
      right: -6rem;
      bottom: -43rem;
    }
  }
  .information__symptom-item:first-child {
    .information__symptom-wrap {
      margin-left: 0;
    }
  }
  .information__symptom-wrap {
    width: 225rem;
    height: 225rem;
    margin-right: 0;
    margin-left: auto;
  }

  .information__symptom-image {
    width: 225rem;
    height: 225rem;
    margin-left: auto;
  }
  .information__list-symptoms {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 89rem;
  }
  .information__symptom-text {
    font-size: 18rem;
    line-height: 22rem;
    padding-left: 23rem;
    padding-right: 23rem;
  }
}

@media (max-width: $tablet) {
  .information {
    padding-top: 60rem;
  }
  .information__tab {
    font-size: 24rem;
    line-height: 29rem;
    text-align: left;
    margin-bottom: 10rem;
  }
  .information__tab-bullet {
    margin-top: 1rem;
  }
  .information__description {
    font-size: 18rem;
    line-height: 22rem;
    padding-left: 0;
  }
  .information__symptom-wrap {
    width: 146rem;
    height: 146rem;
  }
  .information__symptom-head {
    font-size: 24rem;
    line-height: 29rem;
  }
  .information__symptom-text {
    font-size: 12rem;
    line-height: 14rem;
  }
  .information__symptom-image {
    height: 146rem;
    width: 146rem;
  }
  .information__symptom-item {
    margin-bottom: 16rem;
    &:after {
      width: 273rem;
      height: 273rem;
    }
    &--itching {
      &::before {
        left: 50%;
      }
    }
    &--smear::before {
      width: 58rem;
      height: 94rem;
      right: -6rem;
      bottom: -24rem;
    }
  }
  .information__symptom-item:nth-child(3n + 3) {
    margin-left: 0;
  }
  .information__list-symptoms {
    justify-content: space-between;
  }
  .information__list-symptoms {
    padding-bottom: 43rem;
  }
  .information__description {
    margin-bottom: 30rem;
    
    sup {
      font-size: 9rem;
      top: -8rem;
      // left: -5rem;
    }
  }
  .information__tab-list {
    padding-bottom: 20rem;
  }
}
