@import '@/styles/variables';

.promo {
  // font-size: 16rem;
  max-width: 1280rem;
  background-color: aqua;
  @media screen and (max-width: $desktop) {
    background-color: gray;
  }
  @media screen and (max-width: $tablet) {
    background-color: yellow;
  }

}

.app {
  font-size: 20rem;
}