@import '@/styles/variables';

.articles_page {
  background-color: $beige;
  padding-bottom: 100rem;
}

@media (max-width: $desktop) {
  .articles_page {
    padding-bottom: 80rem;
  }
}

@media (max-width: $tablet) {
  .articles_page {
    padding-bottom: 67rem;
  }
}